@using WorldCup2022_MVC.ViewModels
@using System.Linq;
@model TeamsMatchesVM
@{
    ViewData["Title"] = "Play Group received from DB";
    int i = 0;
    int j = 0;
    string id = ViewBag.id;
}

<h1 align= "center">@ViewData["Title"]</h1>
<form action="/Table/TableById?id=@id">
        <label for="id">Table:</label>
        <input type="text" id="id" name="id" value="@id"><br><br>
        <input type="submit" value="Submit">
    </form>
    @foreach(var match in @Model.listOfMatches){
        
            @if (i == 0)
            {
                <h1 align= "center">Group A</h1>
            }
            else if (i == 6)
            {
                <h1 align= "center">Group B</h1>
            }
            else if (i == 12)
            {
                <h1 align= "center">Group C</h1>
            }
            else if (i == 18)
            {
                <h1 align= "center">Group D</h1>
            }
            else if (i == 24)
            {
                <h1 align= "center">Group E</h1>
            }
            else if (i == 30)
            {
                <h1 align= "center">Group F</h1>
            }
            else if (i == 36)
            {
                <h1 align= "center">Group G</h1>
            }
            else if (i == 42)
            {
                <h1 align= "center">Group H</h1>
            }
        <h3>
        @foreach (var team in @Model.listOfTeams)
            {
                @if (@team.placeInGroup == @match.home)
                {
                    @team.name 
                }
            }
             @Model.arrayOfResult[i].homeGoals : @Model.arrayOfResult[i].awayGoals  
            @foreach (var team in @Model.listOfTeams)
            {
                @if (@team.placeInGroup == @match.away)
                {
                     @team.name
                }
            }
            @{
                i++;
            }
        </h3>
    }
 
