@using WorldCup2022_MVC.ViewModels
@model IEnumerable<TeamVM>;
@{
    ViewData["Title"] = "Home Page";
    string id = "f2915e13-f83b-4d5d-97fb-858fc5dbbef2";
}

<div class="text-center">
    
    <a href="/PlayGroup/PlayGroup"> <h1>Play</h1> </a>

@if (@Model == null)
    {
        <div class="alert alert-danger">No available groups found</div>
    }
    else
    {
        <h3>Group A</h3>
        <table title="Group A">
            <tr>
                <th>Flag</th>
                <th>@Html.DisplayNameFor(model => model.name)</th>
                <th>@Html.DisplayNameFor(model => model.placeInGroup)</th>
                <th>Ranking</th>
            </tr>
            @foreach( var list in @Model)
            {   
                @if (list.placeInGroup[0] == 'A')
                {
                    <tr>
                        <td><img src="@list.picture" alt="@list.picture"/></td>
                        <td>@list.name</td>
                        <td>@list.placeInGroup</td>
                        <td>@list.placeInGlobalRanking</td>
                    </tr>
                }
                
            }
        </table> 
        <h3>Group B</h3>
        <table title="Group B">
            <tr>
                <th>Flag</th>
                <th>@Html.DisplayNameFor(model => model.name)</th>
                <th>@Html.DisplayNameFor(model => model.placeInGroup)</th>
                <th>Ranking</th>
            </tr>
            @foreach( var list in @Model)
            {   
                @if (list.placeInGroup[0] == 'B')
                {
                    <tr>
                        <td><img src="@list.picture" alt="@list.picture" /></td>
                        <td>@list.name</td>
                        <td>@list.placeInGroup</td>
                        <td>@list.placeInGlobalRanking</td>
                    </tr>
                }
                
            }
        </table>   
        <h3>Group C</h3>
        <table title="Group C">
            <tr>
                <th>Flag</th>
                <th>@Html.DisplayNameFor(model => model.name)</th>
                <th>@Html.DisplayNameFor(model => model.placeInGroup)</th>
                <th>Ranking</th>
            </tr>
            @foreach( var list in @Model)
            {   
                @if (list.placeInGroup[0] == 'C')
                {
                    <tr>
                        <td><img src="@list.picture" alt="@list.picture" /></td>
                        <td>@list.name</td>
                        <td>@list.placeInGroup</td>
                        <td>@list.placeInGlobalRanking</td>
                    </tr>
                }
                
            }
        </table>   
        <h3>Group D</h3>
        <table title="Group D">
            <tr>
                <th>Flag</th>
                <th>@Html.DisplayNameFor(model => model.name)</th>
                <th>@Html.DisplayNameFor(model => model.placeInGroup)</th>
                <th>Ranking</th>
            </tr>
            @foreach( var list in @Model)
            {   
                @if (list.placeInGroup[0] == 'D')
                {
                    <tr>
                        <td><img src="@list.picture" alt="@list.picture" /></td>
                        <td>@list.name</td>
                        <td>@list.placeInGroup</td>
                        <td>@list.placeInGlobalRanking</td>
                    </tr>
                }
                
            }
        </table>   
        <h3>Group E</h3>
        <table title="Group E">
            <tr>
                <th>Flag</th>
                <th>@Html.DisplayNameFor(model => model.name)</th>
                <th>@Html.DisplayNameFor(model => model.placeInGroup)</th>
                <th>Ranking</th>
            </tr>
            @foreach( var list in @Model)
            {   
                @if (list.placeInGroup[0] == 'E')
                {
                    <tr>
                        <td><img src="@list.picture" alt="@list.picture"/></td>
                        <td>@list.name</td>
                        <td>@list.placeInGroup</td>
                        <td>@list.placeInGlobalRanking</td>
                    </tr>
                }
                
            }
        </table>   
        <h3>Group F</h3>
        <table title="Group F">
            <tr>
                <th>Flag</th>
                <th>@Html.DisplayNameFor(model => model.name)</th>
                <th>@Html.DisplayNameFor(model => model.placeInGroup)</th>
                <th>Ranking</th>
            </tr>
            @foreach( var list in @Model)
            {   
                @if (list.placeInGroup[0] == 'F')
                {
                    <tr>
                        <td><img src="@list.picture" alt="@list.picture"/></td>
                        <td>@list.name</td>
                        <td>@list.placeInGroup</td>
                        <td>@list.placeInGlobalRanking</td>
                    </tr>
                }
                
            }
        </table>   
        <h3>Group G</h3>
        <table title="Group G">
            <tr>
                <th>Flag</th>
                <th>@Html.DisplayNameFor(model => model.name)</th>
                <th>@Html.DisplayNameFor(model => model.placeInGroup)</th>
                <th>Ranking</th>
            </tr>
            @foreach( var list in @Model)
            {   
                @if (list.placeInGroup[0] == 'G')
                {
                    <tr>
                        <td><img src="@list.picture" alt="@list.picture"/></td>
                        <td>@list.name</td>
                        <td>@list.placeInGroup</td>
                        <td>@list.placeInGlobalRanking</td>
                    </tr>
                }
                
            }
        </table>   
        <h3>Group H</h3>
        <table title="Group H">
            <tr>
                <th>Flag</th>
                <th>@Html.DisplayNameFor(model => model.name)</th>
                <th>@Html.DisplayNameFor(model => model.placeInGroup)</th>
                <th>Ranking</th>
            </tr>
            @foreach( var list in @Model)
            {   
                @if (list.placeInGroup[0] == 'H')
                {
                    <tr>
                        <td><img src="@list.picture" alt="@list.picture"/></td>
                        <td>@list.name</td>
                        <td>@list.placeInGroup</td>
                        <td>@list.placeInGlobalRanking</td>
                    </tr>
                }
                
            }
        </table>   
    }
</div>
<h1>Import already existing results:</h1>
    <form action="/PlayGroup/PlayGroupById?id=@id">
        <label for="id">Set an id:</label>
        <input type="text" id="id" name="id"><br><br>
        <input type="submit" value="Submit">
    </form>